@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Vars */
:root {
  --accent: black;
  --codebg: #eee;
  --pagebg: #626262;
  --cardbg: #f5f5f5;
  --fg: #333;
  --hl: #0000aa0a;
  --cardsize: min(60vw, 60vh);
}

/* Default settings */
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Title and overall */
html {
  font-family: 'Inter', sans-serif;
  font-size: 10pt;    
  line-height: 1.7;
  height: 100vh;
  background: linear-gradient(45deg, #fbda61, #ff5acd);
  background: linear-gradient(45deg, #eee, #ddd);
  background-attachment: fixed;
}
body {
  display: flex;
/*   background: linear-gradient(45deg, #fbda61, #ff5acd); */
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

h1 {
  display: none;
}

.outline-2 {
  position: relative;
  width: min(40rem, 90vw);
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
  margin: 25vh 0;
}

img {
  position: absolute;
  left: 50%;
  top: -10vh;
  transform: translate(-50%);
  width: min(15rem, 45vw);
  height: min(15rem, 45vw);
  background: #000;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}

.descwrapper {  
  width: 100%;
  height: 100%;
  padding: min(12rem, 45vw) 40px 40px 40px;
  overflow: hidden;
    
  font-weight: bold;
  color: #555;
}
h2 {
  font-size: 1.25rem;
  text-align: center;
  width: 100%;
}
.projdate {
  font-size: 0.9rem;
  text-align: center;
  width: 100%;
  margin: 1rem 0;
}
.projdesc {  
  font-weight: normal;
  line-height: 1.3;
  text-align: justify;
  overflow: hidden;
  transition: 0.5s;
/*   visibility: hidden; */
}
.outline-2:hover .projdesc {
  visibility: visible;
}