@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Vars */
:root {
  --headtext: #222;
  --maintext: #555;
  --pagebg: linear-gradient(45deg, #eee, #ddd);
  --cardbg: #f5f5f5;
  --cardwidth: min(45rem, 80vw);
  --imgsize: min(45rem, 80vw);
  --overlap: min(15rem, 40vw);
  --borderrad: 5px;
}

/* Default settings */
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Title and overall */
html {
  font-family: 'Inter', sans-serif;
  font-size: 10pt;    
  line-height: 1.7;
  height: 100vh;
  background: var(--pagebg);
  background-attachment: fixed;
}
body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

h1 {
  display: none;
}

.outline-2 {
  position: relative;
  width: var(--cardwidth);
  background: var(--cardbg);
  border-radius: var(--borderrad);
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
  margin: 10vh 0;
}

img {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: var(--imgsize);
  height: var(--imgsize);
  border-radius: var(--borderrad);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}
img:hover {
  width: calc(1.02*var(--imgsize));
  height: calc(1.02*var(--imgsize));
  transform: translate(-50%, calc(-0.02*var(--imgsize)));
}

.descwrapper {  
  width: 100%;
  height: 100%;
  padding: calc(var(--imgsize) + 2rem) 3rem 3rem 3rem;    
  font-weight: bold;
  color: var(--maintext);
  overflow: hidden;
}
h2 {
  color: var(--headtext);
  font-size: 1.25rem;
  text-align: left;
  width: 100%;
}
.projdate {
  color: var(--maintext);
  font-size: 0.9rem;
  text-align: left;
  width: 100%;
  margin: 0.4rem 0;
}
.projdesc {  
  font-weight: normal;
  line-height: 1.3;
  text-align: justify;
}

a {
  text-decoration: none;
  color: steelblue;
}
a:hover {
  text-decoration: underline;
}

/* Table of contents */
#table-of-contents {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  padding: 2rem 5vw;
}
@media (max-width: 60rem) {
  #table-of-contents { display: none; }
}
#table-of-contents h2 { display: none; }
#table-of-contents ul {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15rem;
}
#table-of-contents ul li {
  list-style: none;
  margin: 0.5rem 0;
}
#table-of-contents ul li a {
  color: #bbb;
  font-weight: bold;
}
#table-of-contents ul li.active a {
  color: var(--maintext);
}